.header {
	height: 293px;
	border: 3px solid black;
	display: grid;
	grid-template-columns: 1fr min-content 1fr;
	align-items: center;
}
.header-nav-box {
	display: flex;
	list-style-type: circle;
	padding-left: 50px;
	font-family: "Raleway";
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;

	color: #000000;
}

.header-nav-box li {
	margin-right: 15px;
	padding-right: 13px;
}

.header__link {
	text-decoration: none;
	border-bottom: 2px solid black;
}

.header__link_active {
	text-decoration: none;
}

.logo-white {
	width: 148px;
}

.address {
	padding-right: 50px;
	justify-self: end;
	font-family: "Raleway";
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 24px;
}

.address a {
	text-decoration: none;
	border-bottom: 2px solid black;
}

/* Секция 

        ОНО 
            ТЕБЕ
                 НАДО */

.cover {
	z-index: 3;
	width: 1100px;
	min-height: 757px;
	border: 3px solid black;
	background-image: url("/images/cover.jpg");
	position: relative;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.overlay {
	inset: 0;
	position: absolute;
	background: rgba(0, 0, 0, 0.6);
	z-index: -1;
}

.cover-title {
	padding: 165px 50px 0 50px;
	height: 385px;
	font-family: "Raleway";
	font-style: normal;
	font-weight: 700;
	font-size: 100px;
	line-height: 110px;
	letter-spacing: 0.3em;
	text-transform: uppercase;
	color: #ffffff;
}

.accent-span {
	display: block;
}

.title-center {
	text-align: center;
	line-height: 160px;
	letter-spacing: 3px;
}

.title-right {
	text-align: right;
	line-height: 110px;
	letter-spacing: 3px;
}

.cover-desc-box {
	display: flex;

	align-items: center;
	padding: 270px 40px 0 50px;
	gap: 110px;
}
.cover-desc-text {
	font-family: "Raleway";
	font-style: normal;
	font-weight: 400;
	font-size: 22px;
	line-height: 28px;
	text-transform: uppercase;
	color: #ffffff;
	word-spacing: 18px;
}
.btn-desc {
	padding: 12px 32px 11px 31px;
	font-family: "Raleway";
	font-style: normal;
	font-weight: 500;
	font-size: 22px;
	line-height: 26px;
	text-align: center;
	text-transform: uppercase;
	background-color: rgba(0, 0, 0, 0.1);
	border: 1px solid #ffffff;
	color: #ffffff;
}
